<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="full-screen" content="yes" />
  <meta name="screen-orientation" content="landscape" />
  <meta name="x5-fullscreen" content="true" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="360-fullscreen" content="true" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, target-densitydpi=device-dpi, viewport-fit=cover" />
  <script src="https://gw.alipayobjects.com/os/lib/??react/16.12.0/umd/react.production.min.js,react-dom/16.12.0/umd/react-dom.production.min.js"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>